.danh-gia-container {
    margin-top: 20px;
  }
  
  .danh-gia-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
  }
  
  .danh-gia-item p {
    margin: 0;
  }
  
  .tong-so-sao {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .ten-khach-hang {
    font-weight: bold;
  }
  
  .so-sao {
    color: #ffc107; 
  }
  
  .danh-gia-comments {
    margin-top: 8px;
  }

  .soSao .filter-buttons {
    display: flex;
    gap: 10px; /* Khoảng cách giữa các nút */
  }
  
  .soSao .filter-buttons button {
    padding: 8px 16px;
    background-color: #ffffff;
    color: #ffc107; 
    border: none;
    cursor: pointer;  
    transition: border-color 0.3s ease; 
    border: 2px solid #ffffff; 
  }
  .soSao .filter-buttons button:hover {
    border-color: #000000; 
  }  